:root {
    --base-color: #fff !important;
    --background: #f5f7fa !important;
    --text-color: #000 !important;
    --text-color-2: #fff;
    --red: #e81c1c;
    --secondary-color: #377de6 !important;
    --shadow-color: #0066ff !important;
}

.darkmode {
    --base-color: #1f252e !important;
    --background: #222934 !important;
    --text-color: #fff !important;
    --text-color-2: #fff;
    --secondary-color: #377de6 !important;
    --shadow-color: #0066ff !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none !important;
    list-style: none;
    font-family: "Winky Sans", sans-serif;
    font-weight: 400;
    border: none !important;
}

body::-webkit-scrollbar {
    display: none;
}


body {
    background-color: var(--background) !important;
    height: 100vh;
}


.header {
    height: 60px;
}

.header .navbar-top {
    align-items: center;
    padding-top: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;

}

.navbar-top .top-2 h3 {
    text-align: center;
    font-size: 17px;
    color: var(--text-color);
}

.header .navbar-bottom {
    padding: 5px 20px;
    justify-content: space-between;
    background: var(--base-color);
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px var(--background);
}

.navbar-bottom .nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo .logo {
    margin-top: 5px;
}

.nav-logo .logo img {
    height: 30px;
    width: 30px;
}

.nav-logo .name {
    margin-left: 10px;
}

.nav-logo .name a {
    color: var(--text-color);
    font-size: 23px;
}

.navbar-bottom .nav {
    margin-right: 20px;
    line-height: 30px;
    align-items: center;
    display: flex;
}

.navbar-bottom .nav ul {
    margin-top: 10px;
    align-items: center;
    display: flex;
    gap: 25px;
}

.nav ul li a {
    padding-bottom: 5px;
    line-height: 1;
    color: var(--text-color);
    display: inline-block;
    position: relative;
}

.nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-bottom .nav .nav-icon {
    align-items: center;
    margin-left: 50px;
}

.navbar-bottom .nav .nav-icon #theme-switch {
    border: none;
    outline: none;
    background: none;
}

.navbar-bottom .nav .nav-icon #moon {
    line-height: 1;
    font-size: 18px;
    color: var(--text-color);
}

.navbar-bottom .nav .nav-icon #sun {
    display: none;
    line-height: 1;
    font-size: 18px;
    color: var(--text-color);
}

.darkmode #theme-switch #moon {
    display: none;
}

.darkmode #theme-switch #sun {
    display: block;
}

@keyframes scaleEffect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.navbar-bottom .nav .nav-icon #moon:hover {
    cursor: pointer;
    animation: scaleEffect 0.45s ease-in-out;
}

.navbar-bottom .nav .nav-icon #sun:hover {
    cursor: pointer;
    animation: scaleEffect 0.45s ease-in-out;
}

.hero-section {
    background:
        linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.53)),
        url(assets/img/background.png) center/cover no-repeat;
    height: 100vh;
    padding: 10px;
    padding-top: 100px;
    margin-bottom: 20px;
}

.hero-section .hero-content {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.hero-section .hero-content h2 {
    text-align: center;
    color: var(--text-color-2);
}

.hero-section .hero-content p {
    margin-top: 20px;
    outline: none;
    color: var(--text-color-2);
}

.hero-section .hero-content .join-btn {
    margin-top: 10px;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    color: var(--text-color-2);
    background: var(--secondary-color);
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.join-btn:hover {
    box-shadow: 0 0 10px var(--text-color-2),
        0 0 10px var(--shadow-color);
}

.uptime {
    background: var(--background);
    padding: 10px;
}

.uptime .uptime-content {
    padding: 10px;
}

.uptime-content .uptime-txt {
    line-height: 37.85px;
    display: flex;
}

.uptime-content h2 {
    margin-left: 50px;
    color: var(--text-color);
}

.uptime-content #globe {
    font-size: 30px;
    color: var(--text-color);
    margin-top: 3px;
    padding-left: 10px;
}

.uptime-content .time {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

/* .time .weekdays,
.time .weekends {
    text-align: center;
} */

.time .weekdays h4,
.time .weekends h4 {
    color: var(--text-color);
}

.time .weekdays li,
.time .weekends li {
    color: var(--text-color);
}

.time .weekdays li span,
.time .weekends li span {
    color: var(--text-color);
    padding-left: 10px;
}

.uptime-content h5 {
    color: var(--red);
    margin-left: 50px;
    margin-top: 20px;
}

.server-stats {
    background: var(--background);
    padding: 10px;
    height: 100vh;
}

.server-stats .stats-content {
    float: right;
    margin-right: 220px;
}

.stats-content .stats-txt h2 {
    color: var(--text-color);
}

.stats-content .stats h5 {
    line-height: 30px;
    align-items: center;
    display: flex;
    color: var(--text-color);
    padding-left: 10px;
}

.stats h5 #server-status {
    padding-left: 7px;
}

.stats h5 .icons {
    align-items: center;
}

.stats h5 .icons #cloud {
    color: #00cd00;
    padding-left: 7px;
    font-size: 25px;
    display: none;
}

.stats h5 .icons #cloud-off {
    color: var(--red);
    padding-left: 7px;
    font-size: 25px;
    display: none;
}

.stats h5 .icons #error {
    color: var(--red);
    padding-left: 7px;
    font-size: 25px;
    display: none;
}

.stats h5 #player-count {
    padding-left: 10px;
    color: var(--secondary-color);
}



















/* Media Query */

@media (max-width: 502px) {
    .hero-section {
        height: max-content;
    }
}

@media (max-width: 992px) {
    #offcanvasResponsive {
        background: var(--base-color);
        width: 300px;
    }

    #offcanvasResponsive h5 {
        color: var(--text-color);
    }

    .header .navbar-bottom {
        padding: 0;
    }

    #offcanvasResponsive {
        border: none !important;
        box-shadow: none !important;
    }


    #bars {
        padding-top: 10px;
        font-size: 30px;
        line-height: 30px;
        color: var(--text-color);
    }

    .nav-logo {
        margin-left: 15px;
    }

    .nav-logo .logo {
        margin-top: 0;
    }

    .nav-logo .logo img {
        height: 20px;
        width: 20px;
    }

    .nav-logo .name {
        margin-left: 10px;
    }

    .nav-logo .name a {
        color: var(--text-color);
        font-size: 20px;
    }

    .navbar-bottom .nav .nav-icon #moon {
        line-height: 1;
        font-size: 20px;
        padding-top: 10px;
    }

    .navbar-bottom .nav .nav-icon #sun {
        line-height: 1;
        font-size: 20px;
        padding-top: 10px;
    }

    .offcanvas-header {
        justify-content: space-between;
    }

    .close-btn {
        border: none;
        background: transparent;
        outline: none;
    }

    .close-btn #close {
        padding-top: 10px;
        font-size: 30px;
        color: var(--text-color);
    }

    .navbar-bottom .nav ul {
        align-items: start;
        gap: 15px;
        margin-left: 10px;
    }

    .navbar-bottom .nav ul li a {
        padding-left: 5px;
    }

    .nav-ul {
        flex-direction: column;
    }

    .nav ul li a::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        left: 0;
        top: 0;
        background-color: var(--text-color);
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.25s ease-out;
    }

    .nav ul li a:hover::after {
        transform: scaleY(1);
        transform-origin: bottom;
    }

    .hero-section .hero-content {
        padding: 20px;
    }

    .hero-section .hero-content .join-btn {
        margin-bottom: 10px;
    }

    .uptime-content h2 {
        margin-left: 70px;
        color: var(--text-color);
    }

    .uptime-content #globe {
        font-size: 30px;
        color: var(--text-color);
        margin-top: 0;
        padding-left: 10px;
    }

    .uptime-content .time {
        margin-top: 20px;
        margin-left: 0;
        display: flex;
        gap: 40px;
    }

    .uptime-content h5 {
        margin-left: 10px;
        text-align: center;
    }

    .server-stats .stats-content {
        float: none;
        text-align: center;
        margin-right: 0;
    }

    .server-stats .stats-content h5 {
        text-wrap: wrap;
    }
}